<component name="libraryTable">
  <library name="spring-boot-starter-2.7.0">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/Downloads/spring-boot-starter-2.7.0.jar!/" />
    </SOURCES>
    <jarDirectory url="jar://$USER_HOME$/Downloads/spring-boot-starter-2.7.0.jar!/" recursive="false" type="SOURCES" />
  </library>
</component>